    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://lrzdev1.typo3.badw.de">Typo3 Development</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right"> 
            <li><a href="mailto:webmaster@lrz.de">Kontakt</a></li> 
            <li><a href="https://www.badw.de">BAdW.de</a></li>
            <f:if condition="{curLanguage} == '0'"> 
              <f:then>
                <li><f:link.page additionalParams="{ L : '1'   }">English</f:link.page></li>
              </f:then>
              <f:else>
                <li><f:link.page additionalParams="{ L : '0'  }">Deutsch</f:link.page></li>
              </f:else>       
            </f:if>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar"> 
            <f:cObject typoscriptObjectPath="lib.searchbox"/> 
            <f:cObject typoscriptObjectPath="lib.nav"/> 
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
<!--TYPO3SEARCH_begin--> 
          <f:render section="content" /> 
<!--TYPO3SEARCH_end-->
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 footer">
          <strong>Typo3 Development</strong> 
        </div>
      </div>
    </div>
